<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLPT"
        tools:targetApi="31">
        <activity
            android:name=".SA22403810.LiveRadars"
            android:exported="false" />
        <activity
            android:name=".LiveRadar"
            android:exported="false" />
        <activity
            android:name=".Taxi"
            android:exported="false" />
        <activity
            android:name=".SA22403810.AvailableBus"
            android:exported="false" />
        <activity
            android:name=".SA22403810.RouteFind"
            android:exported="false" />
        <activity
            android:name=".UserDetails"
            android:exported="false" />
        <activity
            android:name=".SA22403810.Schedules"
            android:exported="false" />
        <activity
            android:name=".CargoUser"
            android:exported="false" />
        <activity
            android:name=".TaxiDriverDetails"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_-WWgpw7jG6H9yfj3zR7mvJV9baKPVMQ" />

        <activity
            android:name=".SA22403810.PassengerDetails"
            android:exported="false" />
        <activity
            android:name=".SA22403810.BusDriverDetails"
            android:exported="false" />
        <activity
            android:name=".TaxiDriver"
            android:exported="false" />
        <activity
            android:name=".VehicleProfile"
            android:exported="false" />
        <activity
            android:name=".SA22403810.PassengerGuide"
            android:exported="false" />
        <activity
            android:name=".SA22403810.BusDriverView"
            android:exported="false" />
        <activity
            android:name=".SA22403810.PassengerMainView"
            android:exported="false" />
        <activity
            android:name=".PassengerProfile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SA22404350.Register"
            android:exported="false" />
        <activity
            android:name=".PassengerTaxiBook"
            android:exported="false" />
        <activity
            android:name=".CargoDriver"
            android:exported="false" />
        <activity
            android:name=".SA22403292.PassengerTicketBook"
            android:exported="false" />
        <activity
            android:name=".LoginHandalor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>